<div id="animatedGallery" class="carousel slide" data-bs-ride="carousel">
    <h2 class="gallery-title">TOP CHOICES</h2>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="game-images/CSGOCover.jpg" class="d-block w-100" alt="CSGO">
        </div>
        <div class="carousel-item">
            <img src="game-images/GTA5Cover.jpg" class="d-block w-100" alt="GTA5">
        </div>
        <div class="carousel-item">
            <img src="game-images/WarThunderCover.jpg" class="d-block w-100" alt="WarThunder">
        </div>
        <div class="carousel-item">
            <img src="game-images/Metin2Cover.jpg" class="d-block w-100" alt="Metin2">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#animatedGallery" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#animatedGallery" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>