<app-menu></app-menu>
<div class="account-container" *ngIf="user">
    <div class="account-div-one">
        <img [src]="'user-images/' + user.profilePic" class="user-image">
        <p class="username">{{user.username}}</p>
    </div>
    <div class="account-div-two">
        <p class="account-details">Email: {{user.email}}</p>
        <p class="account-details">Country: {{user.countryOfResidence}}</p>
        <p class="account-details">Balance: {{user.balance}}€</p>
        <p class="account-details">Role: {{user.role}}</p>
        <p class="account-details">Status: {{user.status}}</p>
    </div>
    <div class="account-div-three">
        <button class="update-user-button" (click)="showUpdateUser()">Update</button>
        <button class="add-balance-button" (click)="showAddBalance()">Add balance</button>
        <button class="change-password-button" (click)="showChangePassword()">Change password</button>
        <button class="delete-button" (click)="deleteUser()">Delete</button>
    </div>
</div>

<div *ngIf="isChangePasswordVisible">
    <app-change-password (close)="closeChangePassword()"></app-change-password>
</div>

<div *ngIf="isAddBalanceVisible">
    <app-add-balance (close)="closeAddBalance()"></app-add-balance>
</div>

<div *ngIf="isUpdateUserVisible">
    <app-update-user (close)="closeUpdateUser()"></app-update-user>
</div>
