#animatedGallery {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.game-title {
    font-style: italic;
    text-align: center;
}

.see-more-container {
    margin-top: 100px;
    background-color: rgb(196, 125, 58);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 20px;
}

.game-details, .requirements{
    margin-top: 20px;
    font-size: medium;
    text-align: left;
}

.actions {
    margin-top: 20px;
    text-align: center;
}

.carousel-item img {
    width: 200px;
    height: 300px;
}

.install-button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: rgb(76, 118, 145);
    font-size: medium;
    transition-duration: 0.3s;

    &:hover {
        background-color:rgb(87, 136, 167);
    }
}

.play-button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background-color: darkgreen;
    color: white;
    font-size: medium;
    transition-duration: 0.3s;

    &:hover {
        background-color:rgb(0, 122, 0);
    }
}

.stop-button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background-color: darkred;
    color: white;
    font-size: medium;
    transition-duration: 0.3s;

    &:hover {
        background-color:rgb(165, 0, 0);
    }
}

.uninstall-button {
    margin-left: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: rgb(76, 118, 145);
    font-size: medium;
    transition-duration: 0.3s;

    &:hover {
        background-color:rgb(87, 136, 167);
    }
}

.trophies-toggle-buttons {
    margin-top: 20px;
    text-align: center;
}

.toggle-button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: rgb(76, 118, 145);
    font-size: medium;
    transition-duration: 0.3s;

    &:hover {
        background-color:rgb(87, 136, 167);
    }
}

.trophies {
    margin-top: 20px;
}

.trophy-image {
    width: 80px;
    height: 80px;
}

.trophy-details {
    font-size: small;
    text-align: left;
}

.trophy-card {
    margin-bottom: 20px;
    background-color: rgb(173, 89, 10);
    border-radius: 25px;
    padding: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    align-items: center;
}

.trophy-image-div {
    grid-column: 1;
    grid-row: 1;
}

.trophy-details-div {
    grid-column: 2;
    grid-row: 1;
}