<div class="change-password-container">
    <h1 id="title-change-password">CHANGE YOUR PASSWORD</h1>
    <form class="inner-form-change-password" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>New password:</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="newpassword">
        </div>
        <div class="buttons">
            <button type="submit" class="submit-button">Change password</button>
            <button type="button" class="cancel-button" (click)="onCancel()">Cancel</button> 
        </div>
    </form>
</div>
