@import '../../../styles.scss';

#title-add-game {
    font-family: Trebuchet MS;
    font-style: italic;
    text-align: center;
}

.add-game-container {
    margin-top: 100px;
    background-color: rgb(196, 125, 58);
    width: 60%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.form-group {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    margin-top: 30px;
    text-align: center;
}

.submit-button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background-color: $darkgreen_color_variable;
    color: $white_color_variable;
    font-size: medium;
    transition-duration: 0.3s;

    &:hover {
        background-color:rgb(0, 122, 0);
    }
}

.cancel-button {
    margin-left: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background-color: $darkred_color_variable;
    color: $white_color_variable;
    font-size: medium;
    transition-duration: 0.3s;

    &:hover {
        background-color:rgb(165, 0, 0);
    }
}